.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: black;
  mix-blend-mode: inherit;
  opacity: 0;
  z-index: 100000;
  user-select: none;
  pointer-events: none;
}
